.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  transform: translate(5px, 8px);
}

.switch input {
  display: none;
}

.saveButton {
  background: rgb(0,140,255);
  padding: 10px 15px;
  color: black;
  font-size: 20px;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.input:checked + .slider {
  background-color: #66bb6a;
}

.input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
