@import url("https://fonts.googleapis.com/css2?family=Play&family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  background: #0e1538;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}