.page {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  margin-bottom: 100px;
}

.logo {
  transform: translateY(-2px);
  margin-right: 5px;
}

.form > div {
  padding: 0px;
}

.container {
  transform: translateY(75px);
  padding: 50px 100px 20px 100px;
  background: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  min-height: 650px;
  flex-direction: column;
  margin-bottom: 100px;
  width: 550px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin-bottom: 20px;
  width: 350px;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
}
.form > p {
  margin: 0px;
  color: blue;
  font-style: italic;
  font-size: 17.5px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.form > #password {
  margin-bottom: 15px;
}

.terms {
  font-size: 15px;
  text-align: center;
}

.form > * > p {
  margin: 0px;
  color: blue;
  font-style: italic;
  font-size: 17.5px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  display: inline;
}

.form > * > [type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-left: 6.5px;
  margin-right: 6.5px;
  transform: translateY(1.5px);
}

.form > [type="submit"] {
  background: darkblue;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
}

.account {
  text-align: center;
  width: 100vw;
}

.account > :nth-child(1) {
  font-size: 20px;
  margin-bottom: 15px;
}

.account > :nth-child(2) {
  color: #00a82d;
  text-decoration: none;
}

@media (max-width: 400px) {
  .container {
    width: 100vw;
  }
}
