.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

.form > input {
  height: 25px;
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  font-size: 17.5px;
}

.container > * > i {
  display: none;
}

.deleteAccount {
  padding: 10px;
  font-size: 20px;
  border-radius: 7.5px;
  background: transparent;
  background: red;
  width: 250px;
  margin-top: 10px;
  cursor: pointer;
}

.container > h1 {
  display: inline;
}

.container > p {
  font-size: 30px;
  display: inline;
}

.container > i {
  display: none;
}

.form > * > [for="sessions"] {
  width: 175px;
  display: inline;
  font-size: 17.5px;
}

.form > * > [type="checkbox"] {
  display: inline;
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

.form > label {
  font-size: 18px;
}

.form > [type="submit"] {
  margin-top: 10px;
  background: darkblue;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  height: 50px;
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  font-size: 17.5px;
}

.authButton {
  margin-top: 5px;
  background: rgb(0, 140, 255);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.error {
  display: block;
  padding: 0px;
  margin: 0px;
  color: red;
  font-size: 15px;
  margin-bottom: 5px;
}

.bottomButton > * {
  width: 250px;
  padding: 15px 30px;
  font-size: 25px;
  color: black;
  cursor: pointer;
}

.back {
  border-radius: 0px 0px 0px 10px;
  background: white;
}

.delete {
  border-radius: 0px 0px 10px 0px;
  background: red;
}

@media (min-height: 100vw) {
  .container {
    transform: translateX(0px);
  }
  .container > * > i {
    color: white;
    text-decoration: none;
    display: inline;
    float: right;
    margin-top: 10px;
    transform: translateX(10vw);
  }
}
