.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

.form > input {
  height: 25px;
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  font-size: 17.5px;
}

.container > h1 {
  display: inline;
}

.container > p {
  font-size: 30px;
  display: inline;
}

.container > i {
  display: none;
}

.form > * > [for="sessions"] {
  width: 175px;
  display: inline;
  font-size: 17.5px;
}

.form > * > [type="checkbox"] {
  display: inline;
  height: 15px;
  width: 15px;    
  margin-left: 10px;
}

.form > label {
  font-size: 18px;
}

.form > [type="submit"] {
  margin-top: 10px;
  background: darkblue;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  height: 50px;
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  font-size: 17.5px;
}

@media (min-height: 100vw) {
  .container {
    transform: translateX(0px);
  }
  .container > * > i {
    color: white;
    text-decoration: none;
    display: inline;
    float: right;
    margin-top: 10px;
    transform: translateX(10vw)
  }
}
