.container {
  transform: translateY(50px);
}

.page {
  margin-top: 25px;
  width: 99vw;
  display: flex;
  justify-content: space-around;
}

.tasks {
  display: flex;
  gap: 30px;
}

.tasks > *,
.tasks > * > * {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 15px;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 2.5 / 1;
  border-radius: 15px;
  padding: 20px;
  background: #404457;
  cursor: pointer;
}

.taskTitle {
  font-size: 20px;
}

.sectionText {
  text-align: center;
  font-size: 25px;
}

.sectionText:nth-child(1) {
  min-width: 300px;
  height: 50px;
}

.sectionText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks > * {
  padding: 20px;
  background: #272938;
  margin-bottom: 0px;
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: scroll;
  width: 27.5vw;
}

.date {
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  width: 350px;
}

#icon {
  color: #222;
  font-size: 40px;
}

.tasks > *::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

.tasks > *::-webkit-scrollbar-thumb {
  background-color: #888;
}

#low {
  background: #00c27c;
}

#medium {
  background: #ff9100;
}

#high {
  background: #dc494c;
}

.info {
  transform: translateY(5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info > :nth-child(1) {
  opacity: 0.5;
}

.dialog {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(200, 200, 200, 0.85);
  overflow-y: scroll;
  overflow-x: hidden;
}

.dialog > :nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px 0px 50px;
  background: black;
  border-radius: 10px 10px 0px 0px;
  min-height: 550px;
  width: 500px;
  color: white;
}

.description::placeholder {
  font-family: "Poppins", sans-serif;
  
}

.dialog > :nth-child(1) > p {
  font-size: 25px;
}

.dialog:nth-child(3) > :nth-child(2) > * {
    width: 200px !important;
}

.dialog:nth-child(3) > :nth-child(1) {
  padding-top: 20px !important;
  height: 80px !important;
  min-height: 0px !important;
  justify-content: space-between !important;
  width: 400px
}

.backButton {
  width: 500px;
  padding: 15px 30px;
  font-size: 25px;
  background: white;
  color: black;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

.bottomButton > * {
  width: 250px;
  padding: 15px 30px;
  font-size: 25px;
  color: black;
  cursor: pointer;
}

.delete {
  border-radius: 0px 0px 10px 0px;
  background: red;
}

.back {
  border-radius: 0px 0px 0px 10px;
  background: white;
}

.form > input,
.form > select {
  width: 350px;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}

.form > textarea {
  width: 350px;
  border-radius: 5px;
  font-size: 17.5px;
  margin-bottom: 20px;
  height: 55px;
  resize: vertical;
  padding: 5px;
}

.form > label {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
  display: block;
}

.form > [type="submit"] {
  margin-top: 35px;
  background: darkblue;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
}

.addUser {
  background: rgb(0, 140, 255);
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 50px;
  width: 100px;
  border-radius: 7.5px;
  cursor: pointer;
}

.search {
  transform: translateY(75px);
  text-align: center;
  width: 50vw;
  background: transparent;
  border: white solid 2px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.searchContainer {
  margin-bottom: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.priority {
  width: 90px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(10px);
}

@media (min-height: 100vw) {
  .search {
    width: 90vw;
    transform: translateY(100px);
  }
  .sectionText:nth-child(1) {
    margin-left: 10px;
  }
  .dialog > :nth-child(1) {
    min-height: 750px;
    transform: translateY(30px);
  }
  .dialog {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .form > textarea {
    height: 75px;
  }
  .bottomButton > * {
    width: 50vw;
    border-radius: 0px;
    transform: translateY(20px);
  }
  .tasks > * {
    width: 90vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: none;
  }

  .tasks:last-child {
    margin-bottom: 100px;
  }

  .container {
    transform: translateY(70px);
  }
  .tasks {
    display: flex;
    flex-direction: column;
  }
  .task {
    width: 85vw;
  }
  .page {
    margin: 0px;
  }
  @media (min-width: 600px) {
    .tasks > * {
      width: 55vw;
    }
    .bottomButton > * {
      width: 250px;
    }
    .dialog > :nth-child(1) {
      min-height: 550px !important;
    }
    .task {
      width: 50vw;
    }
  }
}
