@import url("https://fonts.googleapis.com/css2?family=Play&family=Poppins&display=swap");

.page {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  transform: translateY(75px);
  padding: 50px 100px 0px 100px;
  background: black;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  min-height: 350px;
  flex-direction: column;
  margin-bottom: 100px;
  width: 550px;
}

.backButton {
  width: 550px;
  padding: 15px 30px;
  font-size: 25px;
  background: white;
  color: black;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

.sent {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

@media (max-width: 400px) {
  .container,
  .backButton {
    width: 100vw;
  }
}

.error {
  display: block !important;
  padding: 0px !important;
  margin: 0px !important;
  color: red !important;
  font-size: 15px !important;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form > * {
  width: 350px;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
}

.form > label {
  padding: 0px;
}

.form > [type="submit"] {
  margin-top: 35px;
  background: darkblue;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
}
