.page {
  background: #222;
  color: white;
}

.sideNav {
  position: fixed;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #444;
  overflow-x: hidden;
  padding-top: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dialog {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
}

.dialog > :nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px 0px 50px;
  background: black;
  border-radius: 10px 10px 0px 0px;
  min-height: 550px;
  width: 500px;
  color: white;
}

.dialog > :nth-child(1) > p {
  font-size: 25px;
}

.dialog > :nth-child(2) > * {
  width: 200px !important;
}

.dialog > :nth-child(1) {
  padding-top: 20px !important;
  height: 80px !important;
  min-height: 0px !important;
  justify-content: space-between !important;
  width: 400px;
}

.bottomButton > * {
  width: 250px;
  padding: 15px 30px;
  font-size: 25px;
  color: black;
  cursor: pointer;
}

.back {
  border-radius: 0px 0px 0px 10px;
  background: white;
}

.delete {
  border-radius: 0px 0px 10px 0px;
  background: red;
}

.container {
  min-height: 100vh;
  padding: 0px 20px 20px 20px;
  width: 90vw;
  transform: translateX(200px);
  z-index: 10;
}

.sideNav > * {
  cursor: pointer;
  width: 200px;
  text-align: center;
  padding: 25px;
  border-bottom: 2px solid white;
}

.sideNav > a {
  color: white;
  text-decoration: none;
}

.sideNav > a {
  width: 150px;
  background-color: #333;
  height: 50px;
  border: 2px white solid;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideNav > :nth-child(1) {
  border-top: 2px solid white;
}

@media (min-height: 100vw) {
  .sideNav {
    display: none;
  }
  .container {
    transform: translateY(0px);
  }
}
