.page {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  margin-bottom: 30px;
}

.logo {
  transform: translate(-5px, 1px);
}

.container {
  transform: translateY(85px);
  padding: 50px 100px 20px 100px;
  background: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  min-height: 450px;
  flex-direction: column;
  margin-bottom: 100px;
  width: 550px;
}

.continue {
  margin-bottom: 25px;
  font-size: 22.5px;
}

.dialog {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
}

.dialog > :nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px 0px 50px;
  background: black;
  border-radius: 10px 10px 0px 0px;
  min-height: 550px;
  width: 500px;
  color: white;
}

.backButton {
  width: 550px;
  padding: 15px 30px;
  font-size: 25px;
  background: white;
  color: black;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(80px);
  cursor: pointer;
}

.passwordBackButton {
  width: 500px;
  padding: 15px 30px;
  font-size: 25px;
  background: white;
  color: black;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .container,
  .backButton {
    width: 100vw;
  }
}

.email {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.verif {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form > div {
  padding: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form > * {
  width: 350px;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
}

.form > [type="submit"] {
  background: darkblue;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
}

.account {
  text-align: center;
}

.account > :nth-child(1) {
  font-size: 20px;
  margin-bottom: 15px;
}

.account > :nth-child(2) {
  color: #00a82d;
  text-decoration: none;
}

.title {
  font-size: 35px;
}

.error {
  display: block;
  padding: 0px;
  margin: 0px;
  color: red;
  font-size: 15px;
}

.google {
  padding: 0px;
  margin-bottom: 25px;
}

.terms {
  font-size: 15px;
  width: 95% !important;
  text-align: center;
}

.checkbox {
  transform: translate(5px, 3px);
}

@media (min-height: 100vw) {
  .continue {
    width: 100vw;
    text-align: center;
  }
}
