.container {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100px);
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
}

.text {
  font-size: 24px;
  width: 62.5vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.signUp {
  padding: 15px;
  background: darkblue;
  border-radius: 5px;
  font-size: 25px;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.signUp a {
  text-decoration: none;
  color: white;
}

.facts {
  display: flex;
  gap: 10px;
}

.fact {
  background: #222;
  width: 22.5vw;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.factTitle {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.image {
  margin-bottom: 20px;
}

.fact:nth-child(2) > .image {
  transform: translateX(-10px);
}

@media (min-width: 100vh) {
  .fact {
    aspect-ratio: 1;
  }
}

@media (min-height: 100vw) {
  .facts {
    flex-direction: column;
  }

  .fact {
    width: 90vw;
  }

  .factText {
    margin-bottom: 25px;
  }

  .container {
    padding: 10px;
  }

  .text,
  .title {
    width: 95vw;
  }
}
