.container {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100px);
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
}

.text {
  font-size: 24px;
  width: 62.5vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.signUp {
  padding: 15px;
  background: darkblue;
  border-radius: 10px;
  font-size: 25px;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.signUp a {
  text-decoration: none;
  color: white;
}

.title, .text, .signUp {
  opacity: 0;
  animation: slideDown 1s 1 ease-in-out forwards;
}

.facts {
  display: flex;
  gap: 10px;
}

.fact {
  background: #222;
  width: 22.5vw;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.factTitle {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.image {
  margin-bottom: 20px;
}

.fact:nth-child(2) > .image {
  transform: translateX(-10px);
}
.fact:nth-child(2),
.fact:nth-child(3) {
  opacity: 0;
  animation: slideUp 1s 1 ease-in-out forwards;
}

.fact:nth-child(1) {
  opacity: 0;
  animation: slideRight 1s 1 1s ease-in-out forwards;
}

.fact:nth-child(4) {
  opacity: 0;
  animation: slideLeft 1s 1 1s ease-in-out forwards;
}

@media (min-width: 100vh) {
  .fact {
    aspect-ratio: 1;
  }
}

@media (min-height: 100vw) {
  .facts {
    flex-direction: column;
  }

  .fact {
    width: 90vw;
  }

  .factText {
    margin-bottom: 25px;
  }

  .container {
    padding: 10px;
  }

  .text,
  .title {
    width: 95vw;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-200px)
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}